[run]
source = src,config
data_file = coverage/.coverage
omit = 
    */tests/*
    */__init__.py
    */test_*.py
    */.venv/*
    */venv/*
    main.py

[report]
precision = 2
show_missing = True
skip_covered = False
skip_empty = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = coverage/htmlcov

[xml]
output = coverage/coverage.xml