<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Grade</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/htmx-v2.0.6.min.js"></script>
    <script src="/static/js/htmx-class-tools-v2.0.2.min.js"></script>
</head>
<body hx-ext="class-tools">
    {% include 'templates/navbar.html' %}
    <div class="container">
        <h1>Welcome to Auto Grade</h1>
        <p>A PoC of an automatic bulk assignment grader LLM engine.</p>
    </div>
</body>
</html>